.product-list-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.product-card-description {
    height: 150px;
}

.product-card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.product-card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}